.App {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-behind {
    width: 304px;
    height: 304px;
    background-color: rgb(7, 128, 61);
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.board-row {
    display: flex;
}

.Square {
    width: 100px;
    height: 100px;
    border-style: none;
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    cursor: pointer;
}

.Square:hover {
    background-color: rgba(246, 255, 122, 0.856);
}

.show-notification {
    font-family: 'Pacifico';
    font-size: 40px;
}

.board {
    margin-top: 20px;
}